@font-face {
    font-family: myFont;
    src: url(./assets/font/source-sans-pro/SourceSansPro-Regular.otf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: myFont;
    font-size: 16px;
}

a {
    color: white;
    text-decoration: none;
}

button {
    cursor: pointer;
}

ol {
    list-style: none;
}

fieldset {
    border: none;
}
body {
    background-color: #e2dbda;
}

.button {
    width: 100%;
    height: 40px;
    background-color: #f63;
    border: 1px solid #f63;
    border-radius: 2px;
    margin-bottom: 40px;
    color: white;
}

.container {
    width: 80%;
    margin: auto;
}

header {
    height: 80px;
    background: linear-gradient(-180deg, #f53d2d, #f63);
}

header .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo {
    width: 150px;
}

header .container .search {
    height: 40px;
    width: 65%;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    flex-grow: 1;
}

header .container .search input {
    height: 100%;
    outline: none;
    border: 0px;
    border-radius: 2px;
    width: 80%;
}

header .container .search .search-icon {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
}

header .container .search .search-icon div {
    width: 60px;
    height: 34px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: none;
    margin: 3px;
    background-color: #f53d2d;
}

header .container .search .search-icon div svg {
    width: 20px;
}

header .container .loggedin {
    display: flex;
    justify-content: space-between;
}

header .container .not-loggedin {
    display: flex;
    justify-content: space-between;
}

header .container .sign-up,
.log-in,
.cart-icon {
    color: white;
    height: 16px;
    line-height: 16px;
    text-align: center;
    white-space: nowrap;
}

header .container .separate {
    height: 16px;
    border: 1px solid white;
    margin-left: 15px;
    margin-right: 15px;
}

header .container .cart-icon {
    width: 25px;
    position: relative;
}

#itemNotification {
    min-width: 25px;
    padding: 2px;
    height: 20px;
    background-color: #e2dbda;
    color: red;
    font-size: 14px;
    border: 1px solid #525252;
    border-radius: 10px;
    position: absolute;
    top: -70%;
    left: 90%;
}

/* banner */
/* Slideshow container */
.banner {
    position: relative;
    margin-top: 20px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

.mySlides img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: #f53d2d;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(253, 188, 150, 0.8);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #f3958d;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #f53d2d;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: 0.4;
    }
    to {
        opacity: 1;
    }
}

/* product list */
.product-list {
    display: grid;
    grid-template-columns:
        calc((100% - 20px * 3) / 4) calc((100% - 20px * 3) / 4)
        calc((100% - 20px * 3) / 4) calc((100% - 20px * 3) / 4);
    column-gap: 20px;
    row-gap: 20px;
}

.product-list div {
    background-color: white;
    border: 1px solid #e5e7eb;
}

.product-list p {
    margin: 10px;
    overflow: hidden;
}

.product-list .price,
.symbol {
    color: #f53d2d;
    font-size: 18px;
}

.product-list .product-item img {
    width: 100%;
}

.title {
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: white;
    border-bottom: 5px solid #f53d2d;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 20px;
    color: #f53d2d;
    text-transform: uppercase;
}

.footer {
    margin-top: 20px;
    border-top: 1px solid #525252;
    height: 100px;
    line-height: 100px;
    text-align: center;
    color: #525252;
}

/*product*/
.product-detail {
    display: grid;
    grid-template-columns: 40% auto;
    column-gap: 20px;
    row-gap: 20px;
    padding: 20px;
    background-color: white;
    margin-top: 20px;
}

.product-detail .product-picture img {
    width: 100%;
    display: block;
    border: 1px solid #e5e7eb;
}

.product-description {
    font-size: 18px;
}

.product-price {
    font-size: 30px;
    color: #f53d2d;
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #fef6f5;
    height: 50px;
    line-height: 50px;
}

.product-quantity {
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
}

.quantity-button {
    display: flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
}

.increase,
.decrease {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    text-align: center;
    background-color: white;
}

#quantity {
    width: 50px;
    height: 30px;
    line-height: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.09);
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    border-left: 0;
    border-right: 0;
    text-align: center;
    outline: none;
}

.buy {
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}

.buy button {
    width: 150px;
    height: 40px;
    border: 1px solid #f53d2d;
    border-radius: 2px;
    color: white;
}

.buy button a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/*signup, login*/
.sign {
    width: 400px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 4px;
    padding-top: 2px;
}

.sign > div {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.sign div input {
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.09);
    padding: 10px;
}

.error-message {
    height: 14px;
}

.error-message span {
    font-size: 12px;
    color: red;
    display: block;
    margin-top: 4px;
}

/*Cart*/
.subject {
    display: grid;
    grid-template-columns: 5%50% 15% 15% 15%;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 20px;
    background-color: white;
    padding: 10px;
}

.subject div {
    text-align: center;
    border: blue;
}

.content {
    display: grid;
    grid-template-columns: 5% 50% 15% 15% 15%;
    align-items: center;
    margin-bottom: 20px;
    background-color: white;
    padding: 10px;
}

.content div {
    text-align: center;
}

.content .content-product {
    display: flex;
    text-align: start;
    align-items: center;
}

.content .content-product img {
    width: 100px;
    margin-right: 10px;
    border: 1px solid #e5e7eb;
}

.content .content-product p {
    width: 300px;
    overflow: hidden;
}

.quantity {
    width: 50px;
    height: 30px;
    line-height: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.09);
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    border-left: 0;
    border-right: 0;
    text-align: center;
    outline: none;
}

.deleteButton {
    width: 25px;
    height: 25px;
    color: red;
}

.total {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
    background-color: white;
    padding: 10px;
}

.total span {
    font-size: 20px;
    color: #f53d2d;
}

/* Payment */
.form ol {
    margin-bottom: 30px;
}

.form ol li {
    background-color: white;
    border: 1px solid #e5e7eb;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form ol li label {
    width: 30%;
}

.form ol li input {
    background-color: #e2dbda;
    border: none;
    outline: none;
    width: 70%;
    line-height: 30px;
}

.display_total {
    background-color: #e2dbda;
    height: 30px;
    width: 70%;
}

.form ol li select {
    background-color: #e2dbda;
    border: none;
    outline: none;
}
